{% extends "base.html" %}
{% block tittle %} {% endblock %}

{% block content %}
{% if user.is_authenticated %}

<!-- . para class, # para id-->''
<style>
    .d{font-size:20px}
    .a{border-radius:20px;}
</style>

<div class="container a" style="background-color: white;">
    <form action="" class="Formulario" method="post"> 
        {% csrf_token %}
        <ol>
            <br>
            <li class="d">Psicológicamente ¿Cómo te has sentido esta semana?</li>
            <select class="form-select" aria-label="Default select example" name="preg1" required="" id="id_preg1">
                <option selected>Seleccione una respuesta</option>
                <option value="0">Muy mal</option>
                <option value="1">Mal</option>
                <option value="2">Normal</option>
                <option value="3">Bien</option>
                <option value="4">Muy bien</option> 
            </select>

            <br>

            <li class="d">¿Te sientes capaz de lograr tus objetivos de esta semana?</li>
            <select class="form-select" aria-label="Default select example" name="preg2" required="" id="id_preg2">
                <option selected>Seleccione una respuesta</option>
                <option value="0">Capaz</option>
                <option value="1">Quizás</option>
                <option value="2">Incapaz</option>
            </select>

            <br>

            <li class="d">¿Cómo calificarías tu desempeño académico de esta semana?</li>
            <select class="form-select" aria-label="Default select example" name="preg3" required="" id="id_preg3">
                <option selected>Seleccione una respuesta</option>
                <option value="0">Muy mal</option>
                <option value="1">Mal</option>
                <option value="2">Normal</option>
                <option value="3">Bien</option>
                <option value="4">Muy bien</option>
            </select>

            <br>
            
            <li class="d">¿Te afecta de manera emocional tu rendimiento académico?</li>
            <select class="form-select" aria-label="Default select example" name="preg4" required="" id="id_preg4">
                <option selected>Seleccione una respuesta</option>
                <option value="0">Mucho</option>
                <option value="1">Me preocupa</option>
                <option value="2">Poco </option>
                <option value="3">No me afecta</option>
            </select>

            <br>

            <li class="d">¿Te sientes presionado por lo que haces?</li>
            <select class="form-select" aria-label="Default select example" name="preg5" required="" id="id_preg5">
                <option selected>Seleccione una respuesta</option>
                <option value="0">Muy presionado</option>
                <option value="1">Poco presionado</option>
                <option value="2">Ninguna presión</option>
            </select>

            <br>

            <li class="d">¿Has sentido poco interés al realizar ciertas actividades?</li> 
            <select class="form-select" aria-label="Default select example" name="preg6" required="" id="id_preg6">
                <option selected>Seleccione una respuesta</option>
                <option value="0">Si</option>
                <option value="1">No</option>
            </select>

            <br>

            <li class="d">¿Tienes problemas al momento de concentrarte, ya sea en momentos de ocio o de trabajo?</li> 
            <select class="form-select" aria-label="Default select example" name="preg7" required="" id="id_preg7">
                <option selected>Seleccione una respuesta</option>
                <option value="0">Siempre</option>
                <option value="1">Casi siempre</option>
                <option value="2">A veces</option>
                <option value="3">Casi nunca</option>
                <option value="4">Nunca</option>
            </select>

            <br>

            <li class="d">¿Sueles sentir que estás a punto de llorar?</li> 
            <select class="form-select" aria-label="Default select example" name="preg8" required="" id="id_preg8">
                <option selected>Seleccione una respuesta</option>
                <option value="0">Siempre</option>
                <option value="1">Casi siempre</option>
                <option value="2">A veces</option>
                <option value="3">Casi nunca</option>
                <option value="4">Nunca</option>
            </select>

            <br>

            <li class="d">¿Qué tanto te cuesta relajarte o tomarte un descanso?</li> 
            <select class="form-select" aria-label="Default select example" name="preg9" required="" id="id_preg9">
                <option selected>Seleccione una respuesta</option>
                <option value="0">Me cuesta mucho</option>
                <option value="1">Me cuesta poco</option>
                <option value="2">Me relajo fácilmente</option>
            </select>

            <br>

            <li class="d">¿Te has sentido angustiado?</li>
            <select class="form-select" aria-label="Default select example" name="preg10" required="" id="id_preg10">
                <option selected>Seleccione una respuesta</option>
                <option value="0">Mucho</option>
                <option value="1">Más o menos</option>
                <option value="2">Poco</option>
                <option value="3">Nada</option>
            </select>

            <br>
        
            <li class="d">Si la respuesta anterior fue “si” o “más o menos”¿Afecta en tus quehacer de esta semana?, en caso contrario marcar casilla "Saltar"</li>
            <select class="form-select" aria-label="Default select example" name="preg11" required="" id="id_preg11">
                <option selected>Seleccione una respuesta</option>
                <option value="0">Mucho</option>
                <option value="1">Más o menos</option>
                <option value="2">Poco</option>
                <option value="3">Nada</option>
                <option value="4">Saltar</option>
            </select>

            <br>

            <li class="d">¿Sientes que tu comportamiento ha mejorado o empeorado esta semana?</li>
            <select class="form-select" aria-label="Default select example" name="preg12" required="" id="id_preg12">
                <option selected>Seleccione una respuesta</option>
                <option value="0">Ha sido peor</option>
                <option value="1">Un poco mejor</option>
                <option value="2">Igual que la semana anterior</option>
                <option value="3">Ha mejorado mucho </option>
            </select>

            <br>
            
            <li class="d">¿Has visto alterados tus tiempos de sueño, ya sea en mayor o menor medida?</li> 
            <select class="form-select" aria-label="Default select example" name="preg13" required="" id="id_preg13">
                <option selected>Seleccione una respuesta</option>
                <option value="0">Casi no puedo dormir</option>
                <option value="1">Duermo un poco menos</option>
                <option value="2">Duermo lo mismo que siempre</option>
                <option value="3">Estoy durmiendo un poco más</option>
                <option value="4">Duermo mucho más que antes</option>
            </select>

            <br>

            <li class="d">¿Has tenido un buen manejo del tiempo esta semana?</li>
            <select class="form-select" aria-label="Default select example" name="preg14" required="" id="id_preg14">
                <option selected>Seleccione una respuesta</option>
                <option value="0">Siento que tengo muy poco tiempo</option>
                <option value="1">Siento que estoy bien con el tiempo </option>
                <option value="2">Me siento con mucho tiempo libre</option>
            </select>

            <br>

        </ol>

        <button type="sumbit" id="btnEnviar" class="btn btn-primary active" data-bs-toggle="button" autocomplete="off" aria-pressed="true">Enviar</button>

    </form>
    <br>
</div>
<br>

{% else %}
<div class="alert alert-primary" role="alert">
    Necesitas iniciar sesión.
</div>

{% endif %}
{% endblock %}