{% extends "base.html" %}
{% block tittle %} Mental Healt Inicio {% endblock %}

{% block content %}
¿Qué es la salud mental?
La salud mental incluye nuestras emociones, pensamientos, y la forma en que socializamos, por lo que esta afecta nuestro estado de ánimo, como nos sentimos, como pensamos y como actuamos frente a la sociedad.
¿Y por qué es tan importante?
La salud mental es igual de importante que la salud física, ya que diversos estudios han demostrado que una mala salud mental puede traer otras enfermedades, por ejemplo, uno de los más conocidos es el caso de la depresión, la cual puede incrementar las posibilidades de una enfermedad en el corazón o incluso un ataque cerebrovascular.
La salud mental en el mundo:
Un estudio realizado por la UC, en conjunto con la ACHS, indica que un 23,6% de los chilenos presenta sospechas o problemas de salud mental, y que el 45,9% cree que su estado de animo es ha empeorado con respecto a como era antes de la pandemia. Otro articulo publicado por la revista británica “Lancet” estima que los trastornos depresivos han aumentado un 27,6%; y los de ansiedad, un 25,6%. 
Además, en 2020 hubo un aumento de licencias medicas por trastornos mentales del 28,7%, mientras que el gasto en subsidio por incapacidad laboral por trastornos mentales subió un 24,9%. 

Disclaimer antes del formulario:
IMPORTANTE: Este formulario NO es un diagnóstico, esta herramienta es meramente orientativa. Este cuestionario está diseñado para responderlo periódicamente, logrando de esta forma reflejar como te has sentido las últimas semanas. Si luego de responder crees que los resultados realmente muestran de una manera correcta como te sientes, siempre es recomendable buscar ayuda profesional con un especialista en el área.
¿Cómo puedes mejorar tu salud mental?


{% endblock %}