{% extends "base.html" %}
{% block tittle %} Mental Healt Inicio {% endblock %}

{% block content %}
<style>
    .d{font-size:20px}
    .a{border-radius:20px;}
</style>



<br>
<div class="container a" style="background-color: white;">
    <br>
    <p>
    <img src ="https://revistadigital.inesem.es/biosanitario/files/2019/12/nutricion-salud-mental.jpg" align="left" width="400"> 
    <br><font size=7 face="Times New Roman">¡Hola!</font><br>
    <font size=5 face="Times New Roman"><p style="text-align: justify;">Te damos la bienvenida a Mental Health, una página encargada de brindarte apoyo, consejos, informacion y contacto profesional para sobrellevar, lidiar y mejorar tu salud mental a partir de un cuestionario que se debe realizar semanalmente para poder llevar un registro de los datos sobre como te sientes tanto mentalmente como emocionalmente.</font>
    </p>
    <font size=5 face="Times New Roman">
        <p style="text-align: justify;">A continuación encontrarás dos cuadros los cuales podrás clickear para ver e informarte más sobre la salud mental y para conocer los creadores de esta página a los cuales podrás contactar en caso de un error en la página. Por otro lado, para poder ocupar esta página correctamente deberás crearte una cuenta <b>(arriba a la derecha)</b> para poder guardar la información sobre tus cuestionarios respondidos anteriormente lo que te ayudará a llevar una contabilización y una percepción de como has avanzado semana a semana, como es mencionado anteriormente, con tu salud mental, es decir, estrés, tristeza, inseguridades, etc.</p>
        <p style="text-align: justify;">Luego de crearte una cuenta/usuario podrás acceder a tu perfil en la esquina de arriba a la derecha, donde encontrarás un botón para cerrar tu sesión y otro botón para tener acceso a tu "Historial de Formularios". Al estar dentro de tu "Historial de Formularios", verás todos tus cuestionarios anteriores, la fecha de realización y tu puntaje obtenido en cada uno, además habrá 2 botones, uno para revisar la sugerencia que se te dio según el cuestionario a responder y otro boton para ver todo lo que respondiste en aquel cuestionario, respectivamente. Para volver a la página principal solo debes apretar el ícono de Mental Health <b>(arriba a la izquierda)</b>.</p>
    </font>

<br>
<div class="row">
    <div class="col-sm-6">
      <div class="card" style="background-color: rgb(173, 200, 252);" >
        <div class="card-body">
          <h5 class="card-title">Información</h5>
          <p class="card-text">Información importante que se debe saber tanto de la salud mental como el cuestionario a responder.</p>
          <a href="informacion/" class="btn btn-primary">Ver</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card" style="background-color: rgb(173, 200, 252);">
        <div class="card-body">
          <h5 class="card-title">Sobre nosotros</h5>
          <p class="card-text">Creadores de la página  y propósito.</p>
          <a href="sobrenosotros/" class="btn btn-primary">Ver</a>
        </div>
      </div>
    </div>
</div>
<br>

{% endblock %}