{% extends "base.html" %}
{% block tittle %} {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <p></p>
                    <p></p>
        {% for form in info %}
            <div class="container" style="background-color: white;">
                <form action="" method="post">
                    {% csrf_token %}
                    
                    <li>Fecha: {{form.time }} /// Puntaje: {{ form.puntaje }} <button type="submit" name="puntaje" value={{form.id}}>Ver mensaje </button> <button type="submit" name="Formulario" value={{form.id}}>Ver Formulario </button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        Necesitas iniciar sesión.
    {% endif %}
{% endblock %}