{% extends "base.html" %}
{% block tittle %} Mental Healt Inicio {% endblock %}

{% block content %}

<style>
    .d{font-size:20px}
    .a{border-radius:20px;}
</style>

<br>
<div class="container a" style="background-color: white;">
    <p style="text-align: justify;">
    
        <br><font size=5>¿Qué es la salud mental?</font><br>
        <font size=4>La salud mental incluye nuestras emociones, pensamientos, y la forma en que socializamos, por lo que esta afecta nuestro estado de ánimo, como nos sentimos, como pensamos y como actuamos frente a la sociedad.</font>
        
        <br>

        <br><font size=5>¿Y por qué es tan importante?</font><br>
        <font size=4>La salud mental es igual de importante que la salud física, ya que diversos estudios han demostrado que una mala salud mental puede traer otras enfermedades, por ejemplo, uno de los más conocidos es el caso de la depresión, la cual puede incrementar las posibilidades de una enfermedad en el corazón o incluso un ataque cerebrovascular.</font>
        
        <br>

        <br><font size=5> La salud mental en el mundo:</font><br>
        <font size=4>Un estudio realizado por la UC, en conjunto con la ACHS, indica que un 23,6% de los chilenos presenta sospechas o problemas de salud mental, y que el 45,9% cree que su estado de animo es ha empeorado con respecto a como era antes de la pandemia. Otro articulo publicado por la revista británica “Lancet” estima que los trastornos depresivos han aumentado un 27,6%; y los de ansiedad, un 25,6%. 
        Además, en 2020 hubo un aumento de licencias medicas por trastornos mentales del 28,7%, mientras que el gasto en subsidio por incapacidad laboral por trastornos mentales subió un 24,9%.</font> 

        <br>

        <br><font size=5>Trastornos mentales más comunes:</font><br>
        <font size=4>La depresión es un trastorno del estado de ánimo el cual se caracteriza por fuertes sentimientos de tristeza, pérdida, ira o frustración, los cuales interfieren en la vida diaria durante un período de tiempo. Algunas de sus grandes características son la inhibición física, falta de energía, perdida de interés sobre actividades relevantes para la vida diaria, alteraciones del sueño, perdida o aumento de peso y en algunos casos pensamientos suicidas.<br><br>
        Otro trastorno que va de la mano con la depresión es la ansiedad, la cual se caracteriza por una angustia y preocupación excesiva a todo lo que ocurre en el entorno, presencia de un miedo constante y catastrófico. Tiene una duración de mínimo 6 meses y presenta síntomas como dolor de cabeza, temblores, mareos, sudoración y cambios en la frecuencia cardíaca.</font>
        <br><br>
    </p>
    
{% endblock %}