{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class='container d-flex justify-content-center mt-5 col-md-10 col-xl-8'>
  <div class="card shadow-4-strong mb-3">
    <div class="row g-0">
      <div class="Layout-sc-nxg1ff-0 profile-image-setting">
        <div class="Layout-sc-nxg1ff-0 irkKdr">
          <div class="Layout-sc-nxg1ff-0 SpXOZ">
            <div>
              <figure aria-label="Imagen de perfil" class="ScAvatar-sc-12n1gut-0 gNHAJv tw-avatar" dara-a-target="profile-image">
                <img class="InjectLayout-sc-588ddc-0 hYROTF tw-image tw-image-avatar" alt="Imagen de perfil" src="https://static-cdn.jtvnw.net/jtv_user_pictures/93c9e193-e73f-4d6a-910d-323469ed6936-profile_image-300x300.png">
        
              </figure>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-7">
        <div class="card-body">
          <div class='row justify-content-center'>
            
            <h4 class="col-12 card-title text-center mb-4">{{ user.username }} {{user.apellido}}</h4>
            <a class="navbar-brand" href="/info/">
              <button type="button" class="btn btn-primary" data-mdb-toggle='modal' data-mdb-target='#loginModal'>
                  <small>Historial de Formularios</small>
              </button>
            </a>
            <a class='btn btn-danger btn-rounded col-5' href="{% url 'logout' %}">
              <small>Cerrar Sesion</small>  
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% else %}
<div class="alert alert-primary" role="alert">
    Necesitas iniciar sesión.
</div>

{% endif %}
{% endblock %}