{% extends "base.html" %}

{% block content %}

<style>
  .d{font-size:20px}
  .a{border-radius:20px;}
</style> 

<br>
<div class="container a text-center" style="background-color:white;">
  <br> 
  <h4 class="container" style="background-color:white;"><font size=10 face="Times New Roman">{{ user.username }} {{user.apellido}}</font></h4>
  <a href="/info/" class="btn btn-primary" data-mdb-toggle='modal' data-mdb-target='#loginModal'>Historial de Formularios</a>
  <a class='btn btn-danger btn-rounded col-5' href="{% url 'logout' %}">
    <small>Cerrar Sesion</small>  
  </a>
<br><br>

</div>





{% endblock %}