<!--versión original-->
{% extends "base.html" %}

{% block content %}
<div class='container d-flex justify-content-center mt-5 col-md-10 col-xl-8'>
  <div class="card shadow-4-strong mb-3">
    <div class="row g-0">
      <div class="col-md-5">
        <img src={{ user.profile_pic.url }} alt="..." class="img-fluid rounded" />
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <div class='row justify-content-center'>

            <h4 class="col-12 card-title text-center mb-4">{{ user.username }} {{user.apellido}}</h4>
              <a class='btn btn-danger btn-rounded col-20' href="{% url 'logout' %}">Cerrar Sesion </a>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}



<!--version uno-->
{% extends "base.html" %}

{% block content %}
<div class='container d-flex justify-content-center mt-5 col-md-10 col-xl-8'>
  <div class="card shadow-4-strong mb-3">
    <div class="row g-0">
      <div class="Layout-sc-nxg1ff-0 profile-image-setting">
        <div class="Layout-sc-nxg1ff-0 irkKdr">
          <div class="Layout-sc-nxg1ff-0 SpXOZ">
            <div>
              <figure aria-label="Imagen de perfil" class="ScAvatar-sc-12n1gut-0 gNHAJv tw-avatar" dara-a-target="profile-image">
                <img class="InjectLayout-sc-588ddc-0 hYROTF tw-image tw-image-avatar" alt="Imagen de perfil" src="https://static-cdn.jtvnw.net/jtv_user_pictures/93c9e193-e73f-4d6a-910d-323469ed6936-profile_image-300x300.png">
        
              </figure>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-7">
        <div class="card-body">
          <div class='row justify-content-center'>
            
            <h4 class="col-12 card-title text-center mb-4">{{ user.username }} {{user.apellido}}</h4>
              <a class='btn btn-danger btn-rounded col-20' href="{% url 'logout' %}">Cerrar Sesion </a>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}


<!--dropdown 1-->

<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    <img src={{ user.profile_pic.url }} class="rounded-circle" height="30" width='30' alt="" loading="lazy" /><small>{{ user.username }}</small>
    Dropdown link
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>


<a href={% url 'perfil' %}>
  <img src={{ user.profile_pic.url }} class="rounded-circle" height="30" width='30' alt="" loading="lazy" /><small>{{ user.username }}</small>
</a>

<head>
  <meta charset="utf-8"
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>



<!--base-->

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>





{% extends "base.html" %}

{% block content %}


      <div class="col-md-7">
        <div class="card-body">
          <div class='row justify-content-center'>
            
            <h4 class="col-12 card-title text-center mb-4">{{ user.username }} {{user.apellido}}</h4>
            <a class="navbar-brand" href="/info/">
              <button type="button" class="btn btn-primary" data-mdb-toggle='modal' data-mdb-target='#loginModal'>
                  <small>Historial de Formularios</small>
              </button>
            </a>
            <a class='btn btn-danger btn-rounded col-5' href="{% url 'logout' %}">
              <small>Cerrar Sesion</small>  
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Perfil</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

</head>
<body>
  <main class="card">
    <header>
      <img src="./img/foto.jpg" alt="">
    </header>

    <section>
      <h2>Roger Natividad</h2>
      <h3>Software Engineer - Web Developer</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, corporis.</p>
      <ul>
        <li><a href="#" class="fa fa-facebook"></a></li>
        <li><a href="#" class="fa fa-twitter"></a></li>
        <li><a href="#" class="fa fa-linkedin"></a></li>
        <li><a href="#" class="fa fa-youtube"></a></li>
      </ul>
    </section>

    <footer>
      <p>Coded By RogerNatividad</p>
    </footer>
  </main>
</body>








<div class="container">
        
  <h4 class="container" style="background-color:white;">{{ user.username }} {{user.apellido}}</h4>
  <a class="navbar-brand" href="/info/">
    <button type="button" class="btn btn-primary" data-mdb-toggle='modal' data-mdb-target='#loginModal'>
        <small>Historial de Formularios</small>
    </button>
  </a>
  <a class='btn btn-danger btn-rounded col-5' href="{% url 'logout' %}">
    <small>Cerrar Sesion</small>  
  </a>

</div>
