{% extends "base.html" %}
{% block tittle %} {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container" style="background-color: white;">
    <form action="" class="Formulario" method="post"> 
        {% csrf_token %}
        <ol>
            <li>Psicológicamente ¿Cómo te has sentido esta semana?</li>
            {{ form.preg1 }}
            <li>¿ Te sientes capaz de lograr tus objetivos de esta semana?</li>
            {{ form.preg2 }}
            <li>¿Cómo calificarías tu desempeño académico de esta semana?</li>
            {{ form.preg3 }}
            <li>¿Te afecta de manera emocional tu rendimiento académico?</li>
            {{ form.preg4 }}
            <li>¿Te sientes presionado por lo que haces?</li>
            {{ form.preg5 }}  
            <li>¿Has sentido poco interés al realizar ciertas actividades?</li> 
            {{ form.preg6 }}
            <li>¿Tienes problemas al momento de concentrarte, ya sea en momentos de ocio o de trabajo?</li> 
            {{ form.preg7 }}
            <li>¿Sueles sentir que estás a punto de llorar?</li> 
            {{ form.preg8 }}
            <li>¿Qué tanto te cuesta relajarte o tomarte un descanso?</li> 
            {{ form.preg9 }}  
            <li>¿Te has sentido distraído?</li>
            {{ form.preg10 }}
            <li>Si la respuesta anterior fue “si” o “mas o menos”¿Afecta en tus quehacer de esta semana?</li>
            {{ form.preg11 }}
            <li>¿Sientes que tu comportamiento ha mejorado o empeorado esta semana?</li>
            {{ form.preg12 }}
            <li>¿Has visto alterados tus tiempos de sueño, ya sea en mayor o menor medida?</li> 
            {{ form.preg13 }}
            <li>¿Has tenido un buen manejo del tiempo esta semana?</li>
            {{ form.preg14 }}
        </ol>
        <button type="submit" id="btnEnviar" class="button">Enviar</button>
    </form>
</div>
{% else %}
    Necesitas iniciar sesión.
{% endif %}
{% endblock %}


















<body data-barba="wrapper">
    <div class="container" data-barba-namespace="home">
        <header>
            <nav class="navbar shadow navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/home">
                        <img
                            src="https://images.vexels.com/media/users/3/235436/isolated/preview/05054974f2600a2d81f2d21178b26aa0-organos-n-cerebro-6.png"
                            class="me-2" height="40" alt="" loading="lazy" />
                            <small>Mental Health</small>
                    </a>
                    <a class="navbar-brand" href="/formulario/"><small>Formulario</small></a>
                    <div class="d-flex align-items-center me-3">
                        {% if user.is_authenticated %}
                        <a href={% url 'perfil' %}>
                            <img src={{ user.profile_pic.url }} class="rounded-circle" height="30" width='30' alt="" loading="lazy" /><small>{{ user.username }}</small>
                        </a>
                        {% else %}
                        <a class="navbar-brand" href="/accounts/login/"><button type="button" class="btn btn-primary" data-mdb-toggle='modal' data-mdb-target='#loginModal'>
                            <small>Iniciar sesion / Registrarse</small>
                        </button>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
    </div>
</body>

