<!--versión original-->
{% extends "base.html" %}

{% block content %}
<div class='container d-flex justify-content-center mt-5 col-md-10 col-xl-8'>
  <div class="card shadow-4-strong mb-3">
    <div class="row g-0">
      <div class="col-md-5">
        <img src={{ user.profile_pic.url }} alt="..." class="img-fluid rounded" />
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <div class='row justify-content-center'>

            <h4 class="col-12 card-title text-center mb-4">{{ user.username }} {{user.apellido}}</h4>
              <a class='btn btn-danger btn-rounded col-20' href="{% url 'logout' %}">Cerrar Sesion </a>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}



<!--version uno-->
{% extends "base.html" %}

{% block content %}
<div class='container d-flex justify-content-center mt-5 col-md-10 col-xl-8'>
  <div class="card shadow-4-strong mb-3">
    <div class="row g-0">
      <div class="Layout-sc-nxg1ff-0 profile-image-setting">
        <div class="Layout-sc-nxg1ff-0 irkKdr">
          <div class="Layout-sc-nxg1ff-0 SpXOZ">
            <div>
              <figure aria-label="Imagen de perfil" class="ScAvatar-sc-12n1gut-0 gNHAJv tw-avatar" dara-a-target="profile-image">
                <img class="InjectLayout-sc-588ddc-0 hYROTF tw-image tw-image-avatar" alt="Imagen de perfil" src="https://static-cdn.jtvnw.net/jtv_user_pictures/93c9e193-e73f-4d6a-910d-323469ed6936-profile_image-300x300.png">
        
              </figure>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-7">
        <div class="card-body">
          <div class='row justify-content-center'>
            
            <h4 class="col-12 card-title text-center mb-4">{{ user.username }} {{user.apellido}}</h4>
              <a class='btn btn-danger btn-rounded col-20' href="{% url 'logout' %}">Cerrar Sesion </a>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}


<!--version dos-->
{% extends "base.html" %}

{% block content %}
<div class='container d-flex justify-content-center mt-5 col-md-10 col-xl-8'>
    <div class="card shadow-4-strong mb-3">
        <div class="row g-0">
            <div class='Layout-sc-nxg1ff-0 eyjcIM'>
                <div class="Layout-sc-nxg1ff-0 UMCkw settings-row">
                    <div class="Layout-sc-nxg1ff-0 profile-image-setting">
                        <div class="Layout-sc-nxg1ff-0 irkKdr">
                            <div class="Layout-sc-nxg1ff-0 SpXOZ">
                                <div>
                                <figure aria-label="Imagen de perfil" class="ScAvatar-sc-12n1gut-0 gNHAJv tw-avatar" dara-a-target="profile-image">
                                    <img class="InjectLayout-sc-588ddc-0 hYROTF tw-image tw-image-avatar" alt="Imagen de perfil" src="https://static-cdn.jtvnw.net/jtv_user_pictures/93c9e193-e73f-4d6a-910d-323469ed6936-profile_image-300x300.png">
                            
                                </figure>
                                </div>
                            </div>
                        </div>
                    
                        <div class="Layout-sc-nxg1ff-0 bPViAU">
                            <input type="file" accept=".jpg,.jpeg,.png,.gif" class="profile-image-setting__input">
                            <div class="Layout-sc-nxg1ff-0 jLsLts">
                                <button class="ScCoreButton-sc-1qn4ixc-0 ScCoreButtonSecondary-sc-1qn4ixc-2 jGqsfG fSetzA" aria-label="Actualizar imagen de perfil" data-a-target="profile-image-upload-button" data-test-selector="profile-image-setting__upload-button">
                                    <div class="ScCoreButtonLabel-sc-lh1yxp-0 evtFDZ">
                                        <div data-a-target="tw-core-button-label-text" class="Layout-sc-nxg1ff-0 eZactg">
                                            <div class="Layout-sc-nxg1ff-0 kHhUsg">Actualizar imagen de perfil</div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <div class='row justify-content-center'>
                                
                                    <h4 class="col-12 card-title text-center mb-4">{{ user.username }} {{user.apellido}}</h4>
                                    <a class='btn btn-danger btn-rounded col-20' href="{% url 'logout' %}">Cerrar Sesion </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--random-->
<div class="tw-drop-zone__content">
  <input data-a-target="file-picker-input" data-test-selector="file-picker-input" class="InjectLayout-sc-588ddc-0 bFIBHP drag-and-drop-file-picker__input" accept="image/*" type="file">
  <div class="Layout-sc-nxg1ff-0">
    <div class="Layout-sc-nxg1ff-0 user-image-uploader__upload-info">
      <div class="Layout-sc-nxg1ff-0">
        <figure class="ScFigure-sc-1j5mt50-0 eHOmkT tw-svg">
          <svg type="color-fill-alt-2" width="20px" height="20px" version="1.1" viewBox="0 0 20 20" x="0px" y="0px" class="ScSvg-sc-1j5mt50-1 ciYOF">
            <g>
              <path fill-rule="evenodd" d="M9 11v5h2v-5h5V9h-5V4H9v5H4v2h5z" clip-rule="evenodd"></path>
            </g>
          </svg>
        </figure>
      </div>
      <h3 class="CoreText-sc-cpl358-0 gmBqik">Cargar una foto</h3>
    </div>
    <div class="Layout-sc-nxg1ff-0 cBqsCV user-image-uploader__upload-recommendation">
      <h6 class="CoreText-sc-cpl358-0 hfSNcv">Tamaño de imagen recomendado: 1200x480 y menos de 10 MB.</h6>
    </div>
  </div>
</div>


<!--version tres-->
{% extends "base.html" %}

{% block content %}
<div class='container d-flex justify-content-center mt-5 col-md-10 col-xl-8'>
    <div class="card shadow-4-strong mb-3">
        <div class="row g-0">
            <div class='Layout-sc-nxg1ff-0 eyjcIM'>
                <div class="Layout-sc-nxg1ff-0 UMCkw settings-row">
                    <div class="Layout-sc-nxg1ff-0 profile-image-setting">
                        <div class="Layout-sc-nxg1ff-0 irkKdr">
                            <div class="Layout-sc-nxg1ff-0 SpXOZ"> 
                              <div class="tw-drop-zone__content">
                                <input data-a-target="file-picker-input" data-test-selector="file-picker-input" class="InjectLayout-sc-588ddc-0 bFIBHP drag-and-drop-file-picker__input" accept="image/*" type="file">
                                <div class="Layout-sc-nxg1ff-0">
                                  <div class="Layout-sc-nxg1ff-0 user-image-uploader__upload-info">
                                    <div class="Layout-sc-nxg1ff-0">
                                      <figure class="ScFigure-sc-1j5mt50-0 eHOmkT tw-svg">
                                        <svg type="color-fill-alt-2" width="20px" height="20px" version="1.1" viewBox="0 0 20 20" x="0px" y="0px" class="ScSvg-sc-1j5mt50-1 ciYOF">
                                          <g>
                                            <path fill-rule="evenodd" d="M9 11v5h2v-5h5V9h-5V4H9v5H4v2h5z" clip-rule="evenodd"></path>
                                          </g>
                                        </svg>
                                      </figure>
                                    </div>
                                    <h3 class="CoreText-sc-cpl358-0 gmBqik">Cargar una foto</h3>
                                  </div>
                                  <div class="Layout-sc-nxg1ff-0 cBqsCV user-image-uploader__upload-recommendation">
                                    <h6 class="CoreText-sc-cpl358-0 hfSNcv">Tamaño de imagen recomendado: 1200x480 y menos de 10 MB.</h6>
                                  </div>
                                </div>
                              </div>
                                <div>
                                <figure aria-label="Imagen de perfil" class="ScAvatar-sc-12n1gut-0 gNHAJv tw-avatar" dara-a-target="profile-image">
                                    <img class="InjectLayout-sc-588ddc-0 hYROTF tw-image tw-image-avatar" alt="Imagen de perfil" src="https://static-cdn.jtvnw.net/jtv_user_pictures/93c9e193-e73f-4d6a-910d-323469ed6936-profile_image-300x300.png">
                            
                                </figure>
                                </div>
                            </div>
                        </div>
                    
                        <div class="Layout-sc-nxg1ff-0 bPViAU">
                            <input type="file" accept=".jpg,.jpeg,.png,.gif" class="profile-image-setting__input">
                            <div class="Layout-sc-nxg1ff-0 jLsLts">
                                <button class="ScCoreButton-sc-1qn4ixc-0 ScCoreButtonSecondary-sc-1qn4ixc-2 jGqsfG fSetzA" aria-label="Actualizar imagen de perfil" data-a-target="profile-image-upload-button" data-test-selector="profile-image-setting__upload-button">
                                    <div class="ScCoreButtonLabel-sc-lh1yxp-0 evtFDZ">
                                        <div data-a-target="tw-core-button-label-text" class="Layout-sc-nxg1ff-0 eZactg">
                                            <div class="Layout-sc-nxg1ff-0 kHhUsg">Actualizar imagen de perfil</div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <div class='row justify-content-center'>
                                
                                    <h4 class="col-12 card-title text-center mb-4">{{ user.username }} {{user.apellido}}</h4>
                                    <a class='btn btn-danger btn-rounded col-20' href="{% url 'logout' %}">Cerrar Sesion </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}