{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}

{%else%}
	<p></p>
	<p></p>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3">
				<div class="card">
					<div class="card-body">	
						<!--form class="form" method="post">
				
							{% csrf_token %}
							{{ form.as_p }}

						<button type="submit" id="submit">Registrarse</button> 
						&nbsp;¿Ya tienes cuenta? Inicia sesion pulsando <a href="/accounts/login/">aqui.</a>
						</form-->
						<form class="form" method="post">			
							{% csrf_token %}
							<div class="mb-3">
								<label for="id_username">Nombre de usuario:</label>
								<input type="text" name="username" autofocus requiered id="id_username" class="form-control">
							</div>
							<div class="mb-3">
								<label for="id_password1">Contraseña:</label>
								<input type="password" name="password1" required id="id_password1" class="form-control">
							</div>
							<div class="mb-3">
								<label for="id_password2">Confirma Contraseña:</label>
								<input type="password" name="password2" required id="id_password2" class="form-control">
							</div>
							<button type="submit" class="btn btn-primary">Registrarse</button>
							&nbsp;¿Ya tienes cuenta? Inicia sesion pulsando <a href="/accounts/login/">aqui.</a>
						</form>
					</div>
				</div>
			</div>
		</div>		
	</div>
{%endif%}
{% endblock%}